.el-carousel__container{
  
  .el-carousel__arrow{
    top: 80%;
    height: 100px;
    width: 50px;
    border-radius: 100px;
    font-weight: 800;
    font-size: 25px;
    color: black;
    background-color: white;
    &:hover{
      background-color: #34393f;
      color: #02a0f9;
    }
  }
  .el-carousel__mask{
    background-color: transparent;
  }
  .el-carousel__item{
    overflow-y: auto;
    padding-bottom: 0;
  }
}
.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner{
  background-color: black;
}
.el-checkbox__inner{
  border-radius: 50%;
}
.el-tabs{
#tab-first,#tab-second{
  color: white;
}

}
.pay_type{
  .el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner{
    background-color: #00a3ff;
  }
  .el-checkbox__inner{
    border-radius: 50%;
  }
}